body {
	margin: 5px;

	height: 100%;
	overflow: hidden;
}

textarea {
	width: 99.6%;
	height: 100vh;

	border: none;

	font-size: 850px;
	font-family: sans-serif;

	caret-color: transparent;
}

textarea:focus {
	outline: none;
}