body {
	width: 100vw;
	height: 99vh;

	margin: 0;
	padding: 0;
}

textarea {
	width: 100vw;
	height: 99vh;

	padding: 0;
	margin: 0;

	border: none;

	font-size: 450px /*850px8*/;
	font-family: sans-serif;

	caret-color: transparent;

	text-wrap: wrap;

	overflow: hidden;
}

textarea:focus {
	outline: none;
}